[user]
	name = Nicholas DeCraene

[alias]
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --branches --remotes --tags
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --branches --remotes --tags
    lg = !"git lg1"
    lgmaster = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --first-parent master
    ll = log --pretty=format:"%C(yellow)%h%C(green)%d\\ %Creset%s%C(cyan)\\ [%cn]" --decorate --branches --remotes --tags --numstat
    blg = log --no-merges master.. --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    bll = log --no-merges master.. --decorate --numstat
    purge = "!f() { git branch -D $1; git push origin --delete $1; }; f"
    wtf = !"git lg1 --numstat --since='yesterday' --author='Andrew Kirkham'"
    rcm = "!f() { git reset HEAD^; git commit -m $1; }; f"
    pushup = "!f() { git push -u origin  $(git rev-parse --abbrev-ref HEAD); }; f"

    st = status
    co = checkout
    f = fetch --all
    cm = commit -m
    cam = commit -am
    cma = commit -am
    a = add .
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    ignored = !git ls-files -v | grep "^[[:lower:]]"
    master = checkout master
    bd = branch -d
    bdd = branch -D
    merge = merge --no-edit

[push]
	default = simple
[core]
	editor = vim